*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-color: #000;
    padding: 0 10rem;
    font-family: "Roboto Slab", serif;
}
h2{
    font-size: 2.4rem;
}
p{
    font-size: 1.2rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.logo img{
    width: 200px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01rem solid #535353;
    height: 3.8rem;
    border-radius: .6rem;
}

.tab-btn{
    border: none;
    background: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding: .9rem;
    cursor: pointer;
    color: rgb(255, 217, 0);
}

.tab-btn.active{
    background-color: #535353;
    border-radius: .6rem;
}

.section{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(5rem);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
.section.active{
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    margin-top: 5rem;
    
}
    
.planets-card{
    width: 20rem;
    margin-bottom: 10px;
    height: 16rem;
    background-color: #5353533a;
    padding: 10px;
    border-radius: .6rem;
}
.planets-card:hover{
    background-color: rgb(255, 217, 0);
    color: #000;
    cursor: pointer;
}
.planet-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.planet-btn button{
    background: none;
    margin-right: 1rem;
    border: none;
    color: rgb(255, 230, 0);
    cursor: pointer;
}
/* PEOPLE SECTION */
.people-card{
    display: block;
    width: 20rem;
    margin-bottom: 10px;
    height: 16rem;
    background-color: #5353533a;
    padding: 10px;
    border-radius: .6rem;
}
.people-card:hover{
    background-color: rgb(255, 217, 0);
    color: #000;
    cursor: pointer;
}

/* FILMS SECTION */
.films-card{
    width: 20rem;
    margin-bottom: 1rem;
    height: 16rem;
    background-color: #5353533a;
    padding: 1rem;
    border-radius: .6rem;
}
.films-card:hover{
    background-color: rgb(255, 217, 0);
    color: #000;
    cursor: pointer;
}


#resourceModal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%; 
    top: 50%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
    z-index: 9999; 
  }

#resourceModal .modal-content {
    background-color: rgb(255, 217, 0); 
    border-radius: 0.6rem;
    padding: 3rem 10rem; 
    width: 50%;
    height: auto;
    z-index: 1;
    position: fixed; 
    top: 4rem;
    position: relative;
}
.modal-content h2{
    margin: 2rem 0;
    font-size: 3rem;
}

.modal-content h3{
    font-size: 2rem;
    margin-top: 0.2rem;
}
.modal-content span{
    font-size: 1.6rem;
    font-weight: 400;
}



.close {
    color: #000;
    position: absolute;
    left: 47%;
    top: 6rem;
    z-index: 9999;
    font-size: 2.8rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}